body{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 70px; 
}
a{
    color:#b89f6c
}
/* 顶部导航 */
.navbar-default{
    background-color: #fff;
    border:none;
    box-shadow: 0 2px 8px rgba(0,0,0,.075);
}
.navbar-default .navbar-brand {
    color: #ffe6aa;
    padding: 15px 50px;
    font-size: 30px;
    text-shadow: 0.5px 0.5px #9cacb4;
}
.navbar-default .navbar-nav>li>a {
    color: #666;
    font-size: 16px;
    font-weight: bold;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #ffe6aa;
}
.navbar-default .collapsed:focus{
    background-color:#fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #b89f6c;
}
/* 轮播图 */
img{
    width: 100%;
}
.damu-carousel{
    height: 500px;
    overflow: hidden;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
.damu-carousel{
    height: 200px; 
}
}
/* 主体部分 */
.damu-img {
    background-color: #fff;
    width:100%;
    height:100%;
    overflow: hidden;
    padding-left:0
}
 .panel-body{
     padding:10px 0;
 }
 .damu-details{
     margin-top:10px;
 }
 .damu-details a{
     text-decoration: none;
 }
 .damu-intro{
    padding-bottom: 50px;
 }
 .damu-price,.damu-cart{
    display: block;
    float: left;
     margin-right: 50px;
 }
 .glyphicon {
    top: 4px;
 }
 /* 底部导航 */
 .damu-bottomNav{
     margin-top:10px;
 }
 .damu-bottomNav a{
     display: block;
     height: 30px;
     line-height:30px;
     width:100%;
     text-align: center;
     text-decoration: none;
 }

